@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в цифровой музей!</h1>
    <p>Для просмотра списка экспанатов, вам необходимо зарегистрироваться на сайте, <a asp-area="Identity" asp-page="/Account/Register">Нажав сюда</a>.</p>
    <p>Либо авторизироваться, <a asp-area="Identity" asp-page="/Account/Login">Нажав сюда</a>.</p>
</div>
