@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Почта подтверждена";
}

<h1>@ViewData["Title"]</h1>
<p><a asp-area="Identity" asp-page="/Account/Login">Нажмите сюда</a>, чтобы перейти ко входу в аккаунт.</p>